# For projects using nanoc (http://nanoc.stoneship.org/)
# Default location for output, needs to match output_dir's value found in config.yaml
output/

# Temporary file directory
tmp/
.sass-cache
crash.log

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
