!!!
%html.no-js{:lang => "ja"}
  %head
    %meta{:charset => "utf-8"}
    %title nanoc-template
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "author", :content => ""}
    %link{:rel => "stylesheet", :href => stylesheet_path('application') }

  %body
    =yield

    %script{:type => "text/javascript", :src => javascript_path('application') }

    -# livereload
    %script{ src: "//localhost:35729/livereload.js" }

